body {
  background-color: #1f262a;
}

.container {
  background-color: #a8a9ad;
  padding: 3em;
  text-align: center;
  margin-top: 2em;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

label {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.3em;
}

button {
  margin-top: 2em;
  margin-bottom: 2em;
}

.flash {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@keyframes glowing {
  0% {
    background-color: #b20000;
    border: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    border: #ff0000;
    -webkit-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    border: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
}
